## ARIMA

Autoregressive Integrated Moving Average (ARIMA) assumes that the current value can depend only on the past values of the time series itself or on the past values of some error term.

In [1]:
import pandas_datareader.data as web

from datetime import datetime

In [2]:
start_date = datetime(2015, 1, 1).date()
end_date = datetime.now().date()

print('Start date:  {:}'.format(start_date))
print('  End date:  {:}'.format(end_date))

Start date:  2015-01-01
  End date:  2020-01-27

In [3]:
df = web.DataReader('RIG', 'yahoo', start_date, end_date).reset_index()
df.head(5)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2015-01-02,18.469999,17.730000,18.230000,18.120001,11575900.0,17.075874
1,2015-01-05,17.660000,16.570000,17.650000,16.840000,16783900.0,15.869631
2,2015-01-06,17.049999,16.280001,16.840000,16.459999,16159000.0,15.511527
3,2015-01-07,16.760000,16.090000,16.620001,16.299999,12298600.0,15.360748
4,2015-01-08,16.549999,16.150000,16.420000,16.270000,13991300.0,15.332478

In [6]:
df['Return (PCT)'] = (df['Adj Close'].diff() / df['Adj Close'].shift(1)) * 100.0
df.head(5)

,Date,High,Low,Open,Close,Volume,Adj Close,Return (PCT)
0,2015-01-02,18.469999,17.730000,18.230000,18.120001,11575900.0,17.075874,NaN
1,2015-01-05,17.660000,16.570000,17.650000,16.840000,16783900.0,15.869631,-7.064022
2,2015-01-06,17.049999,16.280001,16.840000,16.459999,16159000.0,15.511527,-2.256535
3,2015-01-07,16.760000,16.090000,16.620001,16.299999,12298600.0,15.360748,-0.972043
4,2015-01-08,16.549999,16.150000,16.420000,16.270000,13991300.0,15.332478,-0.184045