In [27]:
import bs4
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import requests

from datetime import datetime

from sklearn.metrics import explained_variance_score, mean_squared_error

from statsmodels.stats.stattools import durbin_watson
from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import adfuller, grangercausalitytests
from statsmodels.tsa.vector_ar.vecm import coint_johansen

In [2]:
def get_s_and_p_symbols():
    response = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs4.BeautifulSoup(response.text, 'lxml')
    table = soup.find('table', {'class': 'wikitable sortable'})
    
    tickers = []

    for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text.strip()
        tickers.append(ticker)
        
    return tickers

In [3]:
def to_weekly(df, symbol, col):
    df['Week_Number'] = df['Date'].dt.week
    df['Year'] = df['Date'].dt.year
    df['Symbol'] = symbol
    
    grouped_df = df.groupby(['Year', 'Week_Number', 'Symbol']).agg({'Date': 'first', col: 'first'}).reset_index()
    grouped_df.columns = ['Year', 'Week_Number', 'Symbol', 'Date', 'Price']
    
    return grouped_df

In [4]:
def query_time_series(symbol, start_date, end_date, source='yahoo', col='Adj Close'):
    df = web.DataReader(symbol, source, start_date, end_date).reset_index()
    
    if source == 'fred':
        df = df.rename({'DATE': 'Date'}, axis=1)
        
    df = to_weekly(df, symbol, col)
    
    df['{:}_return'.format(symbol)] = np.log(df['Price']).diff()
    
    return df

In [5]:
def merge_asset(symbol, start_date, end_date, time_series, verbose=False):
    df = query_time_series(symbol, start_date, end_date)
    
    merged_df = None
    
    for ts in time_series:
        time_series_col = [c for c in ts.columns if '_return' in c][0]
        
        if merged_df is None:
            merged_df = df[['Year', 'Week_Number', 'Date', 'Price', '{:}_return'.format(symbol)]] \
                    .merge(ts[['Year', 'Week_Number', '{:}'.format(time_series_col)]],
                           on=['Year', 'Week_Number'],
                           how='inner')
            merged_df.set_index('Date')
        else:
            merged_df = merged_df.merge(ts[['Year', 'Week_Number', '{:}'.format(time_series_col)]],
                                        on=['Year', 'Week_Number'],
                                        how='inner')
        
        if verbose:
            print('Merging {:} with {:}:  {:}'.format(symbol, time_series_col, len(merged_df)))
        
    merged_df = merged_df.dropna()

    return merged_df

In [6]:
symbols = get_s_and_p_symbols()

print('Symbols (S&P):  {:}'.format(len(symbols)))

Symbols (S&P):  505

In [7]:
verbose = False

In [8]:
start_date = datetime(2015, 1, 1).date()
end_date = datetime.now().date()

print('Start date:  {:}'.format(start_date))
print('  End date:  {:}'.format(end_date))

Start date:  2015-01-01
  End date:  2020-01-26

Collect the indexes that will be used as predictors.

In [9]:
predictors = {
    'DTB3': 'fred',         # 3-month US treasury
    'DTB6': 'fred',         # 6-month US treasury
    'DGS10': 'fred',        # 10 year US treasury
    'DX-Y.NYB': 'yahoo',    # US oil
    'USO': 'yahoo',         # US dollar
    'SP500': 'fred',        # S&P stock index
    'VIXCLS': 'fred'         # Volatility index
}

In [10]:
time_series = []

for symbol,source in predictors.items():
    time_series.append(query_time_series(symbol, 
                                         start_date, 
                                         end_date, 
                                         source=source,
                                         col=symbol if source == 'fred' else 'Adj Close')
    )

time_series[0].tail(5)

     Year  Week_Number Symbol       Date  Price  DTB3_return
261  2019           52   DTB3 2019-12-23   1.56     0.012903
262  2020            1   DTB3 2020-01-01   1.51    -0.032576
263  2020            2   DTB3 2020-01-06   1.53     0.013158
264  2020            3   DTB3 2020-01-13   1.54     0.006515
265  2020            4   DTB3 2020-01-20   1.53    -0.006515

In [11]:
symbol_to_predict = 'MSFT'

merged_df = merge_asset(symbol_to_predict, start_date, end_date, time_series)
print('Merged (length):  {:}'.format(len(merged_df)))

merged_df.tail(5)

Merged (length):  263

,Year,Week_Number,Date,Price,MSFT_return,DTB3_return,DTB6_return,DGS10_return,DX-Y.NYB_return,USO_return,SP500_return,VIXCLS_return
260,2019,52,2019-12-23,157.410004,0.012015,0.012903,0.012903,0.020943,0.006264,0.008699,0.010151,0.037984
261,2020,1,2020-01-02,160.619995,0.020187,-0.032576,-0.019418,-0.026248,-0.008533,0.008624,0.010442,-0.011164
262,2020,2,2020-01-06,159.029999,-0.009948,0.013158,-0.006557,-0.037945,-0.001860,0.026956,-0.003558,0.104959
263,2020,3,2020-01-13,163.279999,0.026374,0.006515,0.006557,0.021859,0.007010,-0.075746,0.012809,-0.117061
264,2020,4,2020-01-21,166.500000,0.019529,-0.006515,0.000000,-0.038572,0.001847,0.003273,0.009884,0.042120

In [12]:
model_columns = [c for c in merged_df.columns if '_return' in c]
max_lag = 12

In [13]:
def grangers_causation_matrix(data, variables, test='ssr_chi2test', maxlag=12, verbose=False):    
    """
    Check Granger Causality of all possible combinations of the Time series.
    The rows are the response variable, columns are predictors. The values in the table 
    are the P-Values. P-Values lesser than the significance level (0.05), implies 
    the Null Hypothesis that the coefficients of the corresponding past values is 
    zero, that is, the X does not cause Y can be rejected.

    data      : pandas dataframe containing the time series variables
    variables : list containing names of the time series variables.
    """
    df = pd.DataFrame(np.zeros((len(variables), len(variables))), columns=variables, index=variables)
    
    for c in df.columns:
        for r in df.index:
            test_result = grangercausalitytests(data[[r, c]], maxlag=maxlag, verbose=False)
            p_values = [round(test_result[i+1][0][test][1],4) for i in range(maxlag)]
            if verbose: print(f'Y = {r}, X = {c}, P Values = {p_values}')
            min_p_value = np.min(p_values)
            df.loc[r, c] = min_p_value
            
    df.columns = [var + '_x' for var in variables]
    df.index = [var + '_y' for var in variables]
    
    return df

grangers_causation_matrix(merged_df, variables=model_columns)

,MSFT_return_x,DTB3_return_x,DTB6_return_x,DGS10_return_x,DX-Y.NYB_return_x,USO_return_x,SP500_return_x,VIXCLS_return_x
MSFT_return_y,1.0000,0.0008,0.0014,0.7462,0.2227,0.1423,0.1680,0.4920
DTB3_return_y,0.0002,1.0000,0.0000,0.0222,0.0049,0.0002,0.0000,0.0000
DTB6_return_y,0.0313,0.0000,1.0000,0.0002,0.0005,0.0000,0.0000,0.0004
DGS10_return_y,0.1442,0.3938,0.2619,1.0000,0.0190,0.0612,0.2296,0.3580
DX-Y.NYB_return_y,0.1438,0.0327,0.0184,0.0690,1.0000,0.2128,0.2244,0.4512
USO_return_y,0.4449,0.0001,0.0002,0.1761,0.2671,1.0000,0.5432,0.4903
SP500_return_y,0.0975,0.0154,0.0021,0.5230,0.4556,0.1653,1.0000,0.5446
VIXCLS_return_y,0.0469,0.0033,0.0031,0.4694,0.0899,0.5463,0.0610,1.0000

In [14]:
def cointegration_test(df, alpha=0.05): 
    """
    Perform Johanson's Cointegration Test and Report Summary
    """
    out = coint_johansen(df, -1,5)
    d = {'0.90': 0, '0.95': 1, '0.99': 2}
    traces = out.lr1
    cvts = out.cvt[:, d[str(1-alpha)]]

    print('{: <20} :: {: <9} ==> {:}'.format('Name', 'Test Stat > C(95%)', 'Significant?'))
    print('-' * 80)
    for col, trace, cvt in zip(df.columns, traces, cvts):
        print('{: <20} ::  {:9.2f} > {:6.2f} ==> {:}'.format(col, trace, cvt, trace > cvt))
       
cointegration_test(merged_df[model_columns])

Name                 :: Test Stat > C(95%) ==> Significant?
--------------------------------------------------------------------------------
MSFT_return          ::     456.50 > 143.67 ==> True
DTB3_return          ::     357.34 > 111.78 ==> True
DTB6_return          ::     260.26 >  83.94 ==> True
DGS10_return         ::     194.64 >  60.06 ==> True
DX-Y.NYB_return      ::     137.70 >  40.17 ==> True
USO_return           ::      93.92 >  24.28 ==> True
SP500_return         ::      58.81 >  12.32 ==> True
VIXCLS_return        ::      27.87 >   4.13 ==> True

In [15]:
n_test = 4

# Make a copy of the test set since we will add the predictions to it later on.
train_df, test_df = merged_df[0:-n_test], merged_df[-n_test:].copy()

print('Training rows:  ', train_df.shape)  
print(' Testing rows:  ', test_df.shape)

Training rows:   (259, 12)
 Testing rows:   (4, 12)

In [16]:
def adfuller_test(series, signif=0.05, name='', verbose=False):
    """
    Perform ADFuller to test for Stationarity of given series and print report.
    """
    r = adfuller(series, autolag='AIC')
    
    output = {'test_statistic':round(r[0], 4), 'pvalue':round(r[1], 4), 'n_lags':round(r[2], 4), 'n_obs':r[3]}
    p_value = output['pvalue'] 

    if verbose:
        # Print Summary
        print('ADF Test on {:}'.format(name))
        print('-' * 80)
        print('Null Hypothesis:  Data has unit root.  Non-Stationary.')
        print('')
        print(' Significance Level:  {:6.2f}'.format(signif))
        print('     Test Statistic:  {:6.2f}'.format(output['test_statistic']))
        print('    No. Lags Chosen:  {:6d}'.format(output['n_lags']))
        print('')

        for key,val in r[4].items():
            print(' Critical value {: <3}:  {:6.3f}'.format(key, val))

        print('')

        if p_value <= signif:
            print('P-Value = {:4.2f}.  Rejecting Null Hypothesis.'.format(p_value))
            print('Series is Stationary.')
        else:
            print('P-Value = {:4.2f}.  Weak evidence to reject the Null Hypothesis.'.format(p_value))
            print('Series is Non-Stationary.')
            
    return p_value <= signif

In [17]:
all_series_stationary = True

for name, column in train_df[model_columns].iteritems():
    stationary = adfuller_test(column, name=column.name, verbose=verbose)
    if not stationary:
        all_series_stationary = False
        print('Non-stationary series:  {:}'.format(name))
        
    if verbose:
        print('')
        
if not all_series_stationary:
    print('Not all series are stationary.')
else:
    print('All series are stationary.')

All series are stationary.

In [18]:
model = VAR(train_df[model_columns])
results = model.select_order(maxlags=max_lag)

C:\Users\Craig\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\statsmodels\tsa\base\tsa_model.py:215: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

In [19]:
lag_order = results.aic
lag_order

4

In [20]:
model_fitted = model.fit(lag_order)

if verbose:
    model_fitted.summary()

In [21]:
output = durbin_watson(model_fitted.resid)

for col,val in zip(model_columns, output):
    print('{: <15}:  {:4.2f}'.format(col, val))

MSFT_return    :  1.94
DTB3_return    :  2.04
DTB6_return    :  2.10
DGS10_return   :  1.98
DX-Y.NYB_return:  2.06
USO_return     :  1.97
SP500_return   :  2.01
VIXCLS_return  :  2.01

In [22]:
forecast_df = train_df[model_columns].values[-lag_order:]
forecast_df

array([[-0.01117102, -0.00634923,  0.00634923,  0.03900216, -0.00468957,
        -0.03701008, -0.00632894,  0.22801792],
       [ 0.0120303 , -0.03896597, -0.02564243,  0.        , -0.0020458 ,
         0.05501386,  0.00706902,  0.06176809],
       [ 0.02717752,  0.01967277,  0.        ,  0.03226086, -0.00605973,
         0.02086755,  0.01754001, -0.26729443],
       [ 0.01201526,  0.0129034 ,  0.0129034 ,  0.02094317,  0.00626447,
         0.00869912,  0.01015057,  0.03798436]])

In [23]:
predictions = model_fitted.forecast(y=forecast_df, steps=n_test+1)
predictions

array([[-1.87150240e-03, -1.45180649e-01, -3.88347535e-02,
        -5.39373483e-03, -1.55156904e-03, -1.03674329e-02,
        -4.74164708e-03,  6.47766079e-02],
       [ 5.59495153e-03,  3.78191704e-02,  1.92418653e-02,
         1.02569666e-02,  1.11614819e-03, -5.56422026e-04,
         6.44260669e-04,  2.75348992e-02],
       [ 9.51654358e-03,  8.37330695e-02,  1.39001377e-02,
         1.74244076e-03,  9.03239839e-04,  5.24460994e-03,
         3.79226200e-03, -2.38020858e-02],
       [ 6.85004915e-03,  5.68885580e-02,  5.13679771e-02,
         2.66013671e-03,  9.89819307e-04, -1.13971501e-02,
         2.47894002e-03, -2.57032932e-02],
       [ 4.38599883e-03, -6.03533697e-03,  8.48016675e-04,
         2.27998024e-04,  1.05627100e-04, -3.96307206e-03,
         8.63750318e-04, -1.30274504e-03]])

In [24]:
test_df = test_df.append({'Year': 2020, 'Week_Number': np.max(test_df['Week_Number'])+1}, ignore_index=True)

test_df['Year'] = test_df['Year'].astype(int)
test_df['Week_Number'] = test_df['Week_Number'].astype(int)

test_df

,Year,Week_Number,Date,Price,MSFT_return,DTB3_return,DTB6_return,DGS10_return,DX-Y.NYB_return,USO_return,SP500_return,VIXCLS_return
0,2020,1,2020-01-02,160.619995,0.020187,-0.032576,-0.019418,-0.026248,-0.008533,0.008624,0.010442,-0.011164
1,2020,2,2020-01-06,159.029999,-0.009948,0.013158,-0.006557,-0.037945,-0.001860,0.026956,-0.003558,0.104959
2,2020,3,2020-01-13,163.279999,0.026374,0.006515,0.006557,0.021859,0.007010,-0.075746,0.012809,-0.117061
3,2020,4,2020-01-21,166.500000,0.019529,-0.006515,0.000000,-0.038572,0.001847,0.003273,0.009884,0.042120
4,2020,5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
test_df['{:}_return (pred)'.format(symbol_to_predict)] = [x[0] for x in predictions]
test_df

,Year,Week_Number,Date,Price,MSFT_return,DTB3_return,DTB6_return,DGS10_return,DX-Y.NYB_return,USO_return,SP500_return,VIXCLS_return,MSFT_return (pred)
0,2020,1,2020-01-02,160.619995,0.020187,-0.032576,-0.019418,-0.026248,-0.008533,0.008624,0.010442,-0.011164,-0.001872
1,2020,2,2020-01-06,159.029999,-0.009948,0.013158,-0.006557,-0.037945,-0.001860,0.026956,-0.003558,0.104959,0.005595
2,2020,3,2020-01-13,163.279999,0.026374,0.006515,0.006557,0.021859,0.007010,-0.075746,0.012809,-0.117061,0.009517
3,2020,4,2020-01-21,166.500000,0.019529,-0.006515,0.000000,-0.038572,0.001847,0.003273,0.009884,0.042120,0.006850
4,2020,5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004386

In [30]:
explained_variance_score(test_df['MSFT_return'][0:-n_test], test_df['MSFT_return (pred)'][0:-n_test])

1.0

In [31]:
mean_squared_error(test_df['MSFT_return'][0:-n_test], test_df['MSFT_return (pred)'][0:-n_test])

0.00048659547179202145

In [44]:
for index,row in test_df.iterrows():
    # For the first week, use the actual last price in next week's calc.  After that, use the predicted prices.
    if index == 0:
        test_df.loc[index, 'Price (pred)'] = merged_df.tail(5)['Price'].iloc[0] + np.exp(row['MSFT_return (pred)'])
    else:
        test_df.loc[index, 'Price (pred)'] = test_df.loc[index-1, 'Price (pred)'] + np.exp(row['MSFT_return (pred)'])
    
test_df[['Week_Number', 'Price', 'Price (pred)', 'MSFT_return', 'MSFT_return (pred)']]

   Week_Number       Price  Price (pred)  MSFT_return  MSFT_return (pred)
0            1  160.619995    158.408134     0.020187           -0.001872
1            2  159.029999    159.413745    -0.009948            0.005595
2            3  163.279999    160.423307     0.026374            0.009517
3            4  166.500000    161.430180     0.019529            0.006850
4            5         NaN    162.434576          NaN            0.004386